*{
	margin: 0px;
	padding:0px;
}
#mainBody{
	text-align: center;
	background-image: linear-gradient(to right,#007bff,white);
	height: 100vh;
	width: 100%;
}
#mainBody h1{
	color: blue;
	padding-top: 20px;
}
#mainBody input{}
#mainBody p {
	font-size: 20px;color: blue;
}